colores==0.1.2
Flask==2.0.2
flask_cors==3.0.10
keras_retinanet==1.0.0
matplotlib==3.5.1
numpy==1.22.0
Pillow==9.0.0
pydload==1.0.9
pyrebase==3.0.27
scikit_learn==1.0.2
tensorflow==2.7.0
torch==1.10.1
torchvision==0.11.2
tqdm==4.62.3
Werkzeug==2.0.2
